#tipos-de-fantasmas-article {
    background-color: #360e0e;
    padding: 5px 0px 10px 20px;
    margin-bottom: 20px;
    width: 700px;
}

#tipos-de-fantasmas-article>h4 {
    color: #910404;
    font-size: 20px;
}





